@page "/transports/details"
@using Microsoft.EntityFrameworkCore
@using FullSD_Proj_new.Domain
@inject IDbContextFactory<FullSD_Proj_new.Data.FullSD_Proj_newContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Transport</h2>
    <hr />
    @if (transport is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Date</dt>
            <dd class="col-sm-10">@transport.Date</dd>
            <dt class="col-sm-2">DepartureTime</dt>
            <dd class="col-sm-10">@transport.DepartureTime</dd>
            <dt class="col-sm-2">ArrivalTime</dt>
            <dd class="col-sm-10">@transport.ArrivalTime</dd>
            <dt class="col-sm-2">Type</dt>
            <dd class="col-sm-10">@transport.Type</dd>
            <dt class="col-sm-2">Origin</dt>
            <dd class="col-sm-10">@transport.Origin</dd>
            <dt class="col-sm-2">Destination</dt>
            <dd class="col-sm-10">@transport.Destination</dd>
            <dt class="col-sm-2">BookingRef</dt>
            <dd class="col-sm-10">@transport.BookingRef</dd>
            <dt class="col-sm-2">TripId</dt>
            <dd class="col-sm-10">@transport.TripId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@transport.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@transport.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@transport.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@transport.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/transports/edit?id={transport.Id}")">Edit</a> |
            <a href="@($"/transports")">Back to List</a>
        </div>
    }
</div>

@code {
    private Transport? transport;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        transport = await context.Transport.FirstOrDefaultAsync(m => m.Id == Id);

        if (transport is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
